<!doctype html>
html(lang="en")
  head
    include partials/head
  body.login
    .contenedor-formulario
      h1 Register
      
      form#formulario.caja.caja-login(action="/new" method="POST")
        .campo
          label(for="email") E-mail:
          input(type="email" name="email" placeholder="Email")
        .campo
          label(for="password") Password:
          input(type="password" name="password" placeholder="Password")
        .campo.enviar
          input.boton(type="submit" value="Create")
        .campo
          a(href='/auth/login') Login
    script(src="/dist/bundle.js")  
                    
