<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/public/css/app.css")
    link(rel="stylesheet", href="/public/css/normalize.css")
    link(rel="stylesheet", href="/public/css/style.css")
    title= titlePage
  body
    header.barra
      h2 Uptask - Projects management
      a(href="#") Exit
    main.contenedor
      aside.contenedor-proyectos
        .panel.crear-proyecto
          a(href="/projects/new" class="boton") New Project
            span +
        .panel.lista-proyectos
          h2 Projects
          ul#proyectos.proyectos
            if(projects.length)
              each project in projects 
                li
                  a(href=`/projects/show/${project.url}`)= project.name
      block content