<!doctype html>
html(lang="en")
  head
    include partials/head
  body.login
    .contenedor-formulario
      h1 Login

      if error
        p.alerta.error= error
      form#formulario.caja.caja-login(action="/auth/login" method="POST")
        .campo
          label(for="email") E-mail:
          input(type="email" name="email" placeholder="Email" value= email)
        .campo
          label(for="password") Password:
          input(type="password" name="password" placeholder="Password")
        .campo.enviar
          input.boton(type="submit" value="Log in")
        .campo
          a(href='/auth/register') Don't have an account? Sign Up
    script(src="./../public/dist/bundle.js")  
                    
