extends layout

include mixins/addProject

block content
  .contenido-principal
    h1 #{titlePage}

    if errors 
      each error in errors 
        .alerta.error= error.msg
    +addProject(project)
