<!doctype html>
html(lang="en")
  head
    include partials/head
  body.login
    .contenedor-formulario
      h1= titlePage 
      p Put new Password
      //- if locals.messages
      //-   .alertas
      //-     each category in Object.keys(locals.messages)
      //-       each error in messages[category]
      //-         .alerta(class=`${category}`)
      //-           p= error
      form.caja-login(method="POST")
        .campo
          label(for="password") Password:
          input(type="password" name="password" placeholder="New Password")
        .campo.enviar
          input.boton(type="submit" value="Reset Password")

