extends layout

block content
  .contenido-principal
    h1 #{titlePage} - #{project.name}

    // TODO - Form

    // TODO - pendient list
    //- pre= vardump(project)

    // TODO - Actions
    .contenedor-acciones
      a(href=`/projects/edit/${project.id}` class="boton") Edit
      button#eliminar-proyecto(data-project-url=project.url type="button" class="boton eliminar") Delete