extends layout

block content
  .contenido-principal
    h1 #{titlePage} - #{project.name}

    // TODO - Form

    // TODO - pendient list

    // TODO - Actions
    .contenedor-acciones
      a(href="" class="boton") Edit
      button#eliminar-proyecto(type="button" class="boton eliminar") Delete