<!doctype html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    style
      include ./email.css
  body
    h2 Reestrabacer password
    p Hola, has solicitado reestrablecer tu password. haz click en el siguiente enlace para reestablecerlo, este enlace es temporal, si se vence deberas volver a solicitar el cambio de contraseña
    a(href=`${resetUrl}`) Cambiar contraseña
    p Si no puedes acceder al enlace visita #{resetUrl}
    p Si no solicitaste este e-mail, puedes ignorarlo